project:
  type: website
  output-dir: docs

website:
  title: "Timo van Ommeren"
  navbar:
    left:
      - href: index.qmd
        text: Home
      - href: cv.qmd
        text: CV

format:
  html:
    theme: cosmo

